<CiscoIPPhoneText>
  <Title>Success!</Title>
  <Text>Tweet is created.</Text>
  <SoftKeyItem>
    <Name>Back</Name>
    <URL>{{ base_url() }}{{ path_for('timeline') }}</URL>
    <Position>3</Position>
  </SoftKeyItem>
</CiscoIPPhoneText>
