<form method="post" action="{{ base_url() }}{{ path_for('autologin-link') }}">
    <p>You can create autologin link and use it as your service URL</p>
    <p><button type="submit">Login with Twitter and create link</button></p>
</form>